[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "sce_vectormath"]
	path = sce_vectormath
	url = https://github.com/erwincoumans/sce_vectormath.git
[submodule "nanovg"]
	path = nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "oui-blendish"]
	path = oui-blendish
	url = https://github.com/AndrewBelt/oui-blendish.git
[submodule "filesystem"]
	path = filesystem
	url = https://github.com/wjakob/filesystem.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
