.sconsign.dblite
vc140.pdb
*.obj
*.pyc
*.ilk
*.obj
*.pdb
*.exe
*.ipch
*.bin
*.vcproj
*.vcxproj
*.filters
*.rdc
*.hdc
*.sln
*.cap
site_scons/site_tools/__pycache__/glad.cpython-35.pyc
.cache
.vscode
build
.vscode
fulgurous.code-workspace
